Repository eclipse-ee4j/jersey, pull requests merged in 2024-12, with the labels that each got.

#5811 Fix exception message on failure to create JakartaXmlBindAnnotationIntrospector
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/internal/jackson/jaxrs/json/JsonMapperConfigurator.java
Labels: jackson, 3.0

#5809 Fixed memory leak in Micrometer code when exceptions are returned from the method
  ext/micrometer/src/main/java/org/glassfish/jersey/micrometer/server/ObservationRequestEventListener.java
  ext/micrometer/src/test/java/org/glassfish/jersey/micrometer/server/observation/AbstractObservationRequestEventListenerTest.java
Labels: micrometer, 2.x

#5794 Fix possible concurrent issue with SSL & default connector
  core-client/src/main/java/org/glassfish/jersey/client/HttpUrlConnectorProvider.java
  core-client/src/main/java/org/glassfish/jersey/client/internal/HttpUrlConnector.java
  tests/e2e-tls/pom.xml
  tests/e2e-tls/src/test/java/org/glassfish/jersey/tests/e2e/tls/connector/ConcurrentHttpsUrlConnectionTest.java
  tests/e2e-tls/src/test/java/org/glassfish/jersey/tests/e2e/tls/connector/HttpsServer.java
  tests/e2e-tls/src/test/resources/org/glassfish/jersey/tests/e2e/tls/connector/keystore.jks
Labels: Priority: Major

#5822 Examples bundle - JDK 24 adjust
  bundles/examples/pom.xml
Labels: examples, 2.x

#5821 merge of the actual 2.x into the 3.0
  bundles/examples/pom.xml
  core-client/src/main/java/org/glassfish/jersey/client/HttpUrlConnectorProvider.java
  core-client/src/main/java/org/glassfish/jersey/client/innate/inject/NonInjectionManager.java
  core-client/src/main/java/org/glassfish/jersey/client/innate/inject/NonInjectionRequestScope.java
  core-client/src/main/java/org/glassfish/jersey/client/internal/HttpUrlConnector.java
  core-common/pom.xml
  core-common/src/test/java/org/glassfish/jersey/internal/config/ExternalPropertiesConfigurationFactoryTest.java
  core-server/pom.xml
  core-server/src/test/java/org/glassfish/jersey/server/internal/inject/ParamConverterDateTest.java
  examples/groovy/pom.xml
  examples/osgi-helloworld-webapp/pom.xml
  examples/pom.xml
  ext/micrometer/src/main/java/org/glassfish/jersey/micrometer/server/ObservationRequestEventListener.java
  ext/micrometer/src/test/java/org/glassfish/jersey/micrometer/server/observation/AbstractObservationRequestEventListenerTest.java
  incubator/pom.xml
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/JacksonFeature.java
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/JaxRSFeatureObjectMapper.java
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/internal/AbstractObjectMapper.java
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/internal/DefaultJacksonJaxbJsonProvider.java
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/internal/JaxrsFeatureBag.java
  media/json-jackson/src/test/java/org/glassfish/jersey/jackson/internal/JaxRSFeatureTest.java
  pom.xml
  test-framework/maven/container-runner-maven-plugin/pom.xml
  tests/e2e-inject/non-inject/pom.xml
  tests/e2e-inject/non-inject/src/test/org/glassfish/jersey/tests/e2e/inject/noninject/DisposableSuplierTest.java
  tests/e2e-inject/non-inject/src/test/org/glassfish/jersey/tests/e2e/inject/noninject/InstanceListSizeTest.java
  tests/e2e-inject/non-inject/src/test/org/glassfish/jersey/tests/e2e/inject/noninject/PreDestroyTest.java
  tests/e2e-inject/pom.xml
  tests/e2e-tls/pom.xml
  tests/e2e-tls/src/test/java/org/glassfish/jersey/tests/e2e/tls/connector/ConcurrentHttpsUrlConnectionTest.java
  tests/e2e-tls/src/test/java/org/glassfish/jersey/tests/e2e/tls/connector/HttpsServer.java
  tests/e2e-tls/src/test/resources/org/glassfish/jersey/tests/e2e/tls/connector/keystore.jks
  tests/integration/microprofile/rest-client/pom.xml
  tests/pom.xml
Labels: 3.0

#5824 merge of the actual 3.0 into the 3.1
  core-client/src/main/java/org/glassfish/jersey/client/HttpUrlConnectorProvider.java
  core-client/src/main/java/org/glassfish/jersey/client/innate/inject/NonInjectionManager.java
  core-client/src/main/java/org/glassfish/jersey/client/innate/inject/NonInjectionRequestScope.java
  core-client/src/main/java/org/glassfish/jersey/client/internal/HttpUrlConnector.java
  core-common/pom.xml
  core-common/src/test/java/org/glassfish/jersey/internal/config/ExternalPropertiesConfigurationFactoryTest.java
  core-server/pom.xml
  core-server/src/test/java/org/glassfish/jersey/server/internal/inject/ParamConverterDateTest.java
  examples/groovy/pom.xml
  examples/osgi-helloworld-webapp/pom.xml
  ext/micrometer/src/main/java/org/glassfish/jersey/micrometer/server/ObservationRequestEventListener.java
  ext/micrometer/src/test/java/org/glassfish/jersey/micrometer/server/observation/AbstractObservationRequestEventListenerTest.java
  incubator/pom.xml
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/JacksonFeature.java
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/JaxRSFeatureObjectMapper.java
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/internal/AbstractObjectMapper.java
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/internal/DefaultJacksonJaxbJsonProvider.java
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/internal/JaxrsFeatureBag.java
  media/json-jackson/src/main/java/org/glassfish/jersey/jackson/internal/jackson/jaxrs/json/JsonMapperConfigurator.java
  media/json-jackson/src/test/java/org/glassfish/jersey/jackson/internal/JaxRSFeatureTest.java
  pom.xml
  test-framework/maven/container-runner-maven-plugin/pom.xml
  tests/e2e-inject/non-inject/pom.xml
  tests/e2e-inject/non-inject/src/test/org/glassfish/jersey/tests/e2e/inject/noninject/DisposableSuplierTest.java
  tests/e2e-inject/non-inject/src/test/org/glassfish/jersey/tests/e2e/inject/noninject/InstanceListSizeTest.java
  tests/e2e-inject/non-inject/src/test/org/glassfish/jersey/tests/e2e/inject/noninject/PreDestroyTest.java
  tests/e2e-inject/pom.xml
  tests/e2e-tls/pom.xml
  tests/e2e-tls/src/test/java/org/glassfish/jersey/tests/e2e/tls/connector/ConcurrentHttpsUrlConnectionTest.java
  tests/e2e-tls/src/test/java/org/glassfish/jersey/tests/e2e/tls/connector/HttpsServer.java
  tests/e2e-tls/src/test/resources/org/glassfish/jersey/tests/e2e/tls/connector/keystore.jks
  tests/integration/microprofile/rest-client/pom.xml
  tests/pom.xml
Labels: 3.1
